.product-info-alternative {
  position: relative;
  overflow: hidden;
}

.product-image-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80vh; /* Adjusted to cover 80% of the viewport height */
  background-image: url("peakpx.jpg");
  background-size: cover;
  background-position: center;
  opacity: 0.5; /* Adjust the opacity as needed */
  z-index: -1;
}

.product-details {
  position: relative;
  padding: 20px;
}

.product-info-alternative {
  margin-top: 50px;
}

/* hhhhhhhhhhhhhhhhhhhhhhhhhhhhhh */

body {
  background-color: #eee;
}
.mt-100 {
  margin-top: 100px;
}
.card {
  border-radius: 7px !important;
  border-color: #e1e7ec;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.card-img-tiles {
  display: block;
  border-bottom: 1px solid #e1e7ec;
}

a {
  color: #0da9ef;
  text-decoration: none !important;
}

.card-img-tiles > .inner {
  display: table;
  width: 100%;
}

.card-img-tiles .main-img,
.card-img-tiles .thumblist {
  display: table-cell;
  width: 65%;
  padding: 15px;
  vertical-align: middle;
}

.card-img-tiles .main-img > img:last-child,
.card-img-tiles .thumblist > img:last-child {
  margin-bottom: 0;
}

.card-img-tiles .main-img > img,
.card-img-tiles .thumblist > img {
  display: block;
  width: 100%;
  margin-bottom: 6px;
}
.thumblist {
  width: 35%;
  border-left: 1px solid #e1e7ec !important;
  display: table-cell;
  width: 65%;
  padding: 15px;
  vertical-align: middle;
}

.card-img-tiles .thumblist > img {
  display: block;
  width: 100%;
  margin-bottom: 6px;
}
.btn-group-sm > .btn,
.btn-sm {
  padding: 0.45rem 0.5rem !important;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}

.samhead {
  font-size: 52px;
  margin-bottom: 20px;
}

.sampara {
  margin-bottom: 20px;
}

.pro-title {
  font-size: 44px;
  padding-bottom: 20px;
}
.pro-info {
  font-weight: 500;
  font-size: 18px;
}
.add-to-cart {
  padding: 10px 20px;
  background-color: black;
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.add-to-cart:hover {
  background-color: white;
  color: black;
  font-weight: 500;
}

.social-list {
  list-style: none;
}
.social-list {
  display: flex;
  gap: 8px;
}

footer {
  padding: 20px;
  background-color: rgb(203, 185, 185);
}
.social-pro {
  margin-left: 34px;
}
